/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  background-color: #f8fafc;
  color: #1e293b;
}

/* Global Section Style */
section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}
